:host {
  display: block;
}

.card-container ::ng-deep .ant-tabs-nav {
  padding-left: 15px;
}

::ng-deep .ant-tabs-content-holder {
  height: 100%;
  width: 100%;
}

::ng-deep .ant-tabs-content-holder{
  padding: 35px;
}

.card-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}