[nz-button] {
  margin-right: 8px;
  margin-bottom: 12px;
}

.gradient{
  background: rgb(2,0,36);
  background: linear-gradient(232deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 45%, rgba(43,129,147,1) 100%);
  
}

.green{
  background-color: rgb(60, 255, 0);
}

.fat{
  border: solid 1.5px black;
}
